<head>
  {% if site.google_tag_manager %}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_tag_manager}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "{{ site.google_tag_manager }}");
  </script>
  {% endif %}

  <link rel="dns-prefetch" href="//fonts.googleapis.com" />
  <link rel="dns-prefetch" href="//fonts.gstatic.com" />
  <link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com" />
  <link rel="dns-prefetch" href="//cdnjs.cloudflare.com" />

  {% comment %}
  Pagination v2, which we use on the homepage, is setting `page.title`
  erroneously (with a value equal to `site.title`). We check for that to avoid
  repeating the site name in the `title` of the homepage. Dashes next to
  brackets are supposed to trim whitespace for cleanliness.
  {% endcomment %}

  {%- capture title -%}
  {%- if page.title and page.title != site.title -%}
  {{- page.title | strip_html -}}&nbsp;-&nbsp;
  {%- endif -%}
  {{- site.title | strip_html -}}
  {%- endcapture -%}

  <title>{{ title | strip_newlines }}</title>

  {%- capture description -%}
  {%- if page.description -%}
  {{- page.description | xml_escape -}}
  {%- elsif page.excerpt -%}
  {{- page.excerpt | strip_html | xml_escape | truncatewords: 30 -}}
  {%- else -%}
  {{- site.description | xml_escape -}}
  {%- endif -%}
  {%- endcapture %}

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ description }}" />
  <meta name="author" content="{{ site.author }}" />
  <!-- <link rel="manifest" type="application/manifest+json; charset=utf-8" href="{{ "/manifest.json" | relative_url }}"> -->
  {% if page.meta_robots %}
  <meta name="robots" content="{{ page.meta_robots }}" />
  {% else %}
  <meta name="robots" content="all" />
  {% endif %}
  {% if page.categories %}
  <meta name="keywords" content="{{ page.categories | join : ', ' }}" />
  {% endif %}

  <link rel="canonical" href="{{ page.url | absolute_url }}" />
  <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{
  site.title }}" href="{{ '/feed.xml' | relative_url }}">

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto+Slab:wght@100..900&display=swap"
    rel="stylesheet">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- highlight.js -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ '/css/styles.css' | relative_url }}?{{ site.time | date : '%Y%m%d%H%M' }}"
    type="text/css">

  <!-- MathJax -->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

  <!-- Open Graph -->
  <!-- From: https://github.com/mmistakes/hpstr-jekyll-theme/blob/master/_includes/head.html -->
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{% if page.title %}{{ page.title | xml_escape }}{% else %}{{
      site.title | xml_escape
    }}{% endif %}" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:site_name" content="{{ site.title | xml_escape }}" />
  {% comment %}
  <meta property="og:image" content="{{ site.url }}/images/me.jpeg" />
  {% endcomment %}

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary" />
  {% if site.twitter_username %}
  <meta name="twitter:site" content="@{{ site.twitter_username }}" />
  <meta name="twitter:creator" content="@{{ site.twitter_username }}" />
  {% endif %}
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{
      site.title
    }}{% endif %}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
  {% comment %}
  <meta name="twitter:image" content="{{ site.url }}/images/me.jpeg" />
  {% endcomment %}

  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicon/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicon/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicon/favicon-16x16.png' | relative_url }}">
  <link rel="manifest" href="{{ '/assets/favicon/site.webmanifest' | relative_url }}">
</head>
