{% assign posts_count = paginator.posts | size %}

<h1>Highlighted</h1>

<div class="posts">
  {% for post in paginator.posts %}
    {% if post.highlight %}
      {% include post.html post=post %}
    {% endif %}
  {% endfor %}
</div>

<h1>Chronology</h1>

{% comment %}
Browse by tag. Requires pagination to be enabled.
{% endcomment %}
{% if page.pagination.enabled %}
<nav>
  {% if page.pagination.tag %}
    <a class="nav-link" href="{{ "/" | relative_url }}">All Posts</a>&nbsp;
  {% else %}
    <a class="nav-active" href="{{ "/" | relative_url }}">All Posts</a>&nbsp;
  {% endif %}

  {% assign tags = site.tags | sort %}

  {% for tag in tags %}
    {% if page.pagination.tag == tag[0] %}

      <a class="nav-active" href="{{ '/tags/' | append: tag[0] | relative_url }}">
        {{tag[0] | replace: ' ', '&nbsp;'}}
      </a>&nbsp;

    {% else %}

      <a class="nav-link" href="{{ '/tags/' | append: tag[0] | relative_url }}">
        {{tag[0] | replace: ' ', '&nbsp;'}}
      </a>&nbsp;

    {% endif %}
  {% endfor %}
</nav>
{% endif %}

<div class="posts">
  {% for post in paginator.posts %}
    {% include post.html post=post %}
  {% endfor %}
</div>

{% include pagination.html %}
