<div class="social-icons">
  <div class="social-icons-left">
    {% if site.twitter_username %}
      <a class="fa fa-brands fa-x-twitter" href="https://x.com/{{ site.twitter_username }}" aria-label="X"></a>
    {% endif %}
    {% if site.github_username %}
      <a class="fa fa-brands fa-github" href="https://github.com/{{ site.github_username }}" aria-label="github"></a>
    {% endif %}
    <a class="fa fa-solid fa-rss" href="{{ '/feed.xml' | relative_url }}" aria-label="RSS feed"></a>
  </div>
</div>
<div class="clearfix"></div>
