html {
  // Set default font size in a relative unit in order to respect user's font
  // size browser settings.
  //
  // Most browsers have default font size 16px.
  // To set this to 15px, we do 15px/16px = 0.9375.
  font-size: 93.75%;
}

// Expand height to fit screen.
// Must be applied to both html and body.
html,
body {
  height: auto;
  min-height: 100%;
}

body {
  min-height: 100vh;

  // Remove default user agent stylesheet margin.
  margin: 0;

  // Fix for links (<a>) overflowing out of body
  word-break: break-word;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  line-height: normal;

  color: $color-text-primary;
  background-color: $color-background;

  font-family: $font-family;
  font-size: 100%;
}

.social-icons {
  font-size: 1.25rem;
  width: 100%;
  margin: $space-2 0;

  a.fa {
    cursor: pointer;
    padding: 0.2em;
    font-size: 1.5rem;
  }

  a.fa:first-child {
    padding-left: 0;
  }

  a.fa:hover {
    color: $color-text-secondary;
  }
}

img {
  display: block;
  margin: $space-3 auto $space-3 auto;
  max-width: 100%;
}

pre,
code {
  background-color: $color-primary;
  border-radius: $border-radius;
}

hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $color-primary;
}

abbr {
  border-bottom: 1px black dotted;
  cursor: help;
}

sup {
  position: relative;
  vertical-align: middle;
  top: -0.9ex;
}

details {
  margin-bottom: 1em;

  p {
    margin: 1em;
  }
}

summary:hover {
  cursor: pointer;
}

iframe {
  margin-bottom: 1em;
}

.page-title {
  margin: 1em 0 0 0;
}

.table-of-contents {
  margin: 2rem 0;
}

code {
  // Set to 14px as a percentage of default size, which should be 15px.
  // 14px = 14px/15px = 0.9(3)
  font-size: 93.33%;
}

blockquote {
  border-left: 5px solid $color-text-secondary;
  font-style: italic;
  margin: $space-3;
  padding: 0 8px;
}

a {
  color: #005cad;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
  border: 0;
  color: #00396b;
}

.button:hover,
.button:focus,
.button:active {
  color: white;
}

.anchorjs-link:hover,
.anchorjs-link:focus,
.anchorjs-link:active {
  border: 0;
  color: #00396b;
}

.measure {
  margin: 0 auto;
  max-width: 50rem;
}

// List markers (bullet points, numbers)
::marker {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: $space-2;
  margin-bottom: $space-1;

  font-family: $heading-font-family;
  font-weight: bold;
  line-height: 1.5;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
  border-bottom: 1px solid $color-text-primary;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

h5 {
  font-size: $h5;
}

h6 {
  font-size: $h6;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

dl,
ol,
ul {
  margin: 2em 0 2em 0;
  padding-left: $space-3;
}

// No margin for lists inside lists
li ul,
li ol {
  margin: 0;
}

li {
  margin: 0.5em 0;
}

pre,
code,
samp {
  font-family: $monospace-font-family;
  font-size: inherit;
}

pre {
  margin-top: 0;
  margin-bottom: $space-2;
  overflow-x: scroll;
}

hr {
  margin-top: $space-3;
  margin-bottom: $space-3;
}

nav {
  margin: $space-2 0;

  a {
    color: $color-text-primary;
  }

  a:hover,
  a:focus,
  a:active,
  a.nav-active:hover,
  a.nav-active:focus,
  a.nav-active:active {
    color: $color-text-secondary;
  }

  a.nav-active {
    text-decoration: underline;
  }

  a + a {
    margin-left: $space-2;
  }
}
