html {
  font-size: $base-font-size;
}

// Expand height to fit screen.
// Must be applied to both html and body.
html, body {
  height: auto;
  min-height: 100%;
}

img {
  max-width: 100%;
}

em img {
  max-width: 100%;
  margin-left: 0;
}

body {
          box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

article {
  margin-top: 2em;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2em;
  margin-bottom: 1em;
}

abbr {
  border-bottom: $abbr-border-bottom;
  cursor: help;
}

p {
  color: $dark-gray;
  line-height: 1.5;
}

small,
.small {
  font-size: 0.707rem;
}

sup {
  position: relative;
  vertical-align: middle;
  top: -0.9ex;
}

details {
  margin-bottom: 1em;

  p {
      margin: 1em;
  }
}

summary:hover {
  cursor: pointer;
}

iframe {
  margin-bottom: 1em;
}

.page-title {
  margin: 1em 0 0 0;
}

.table-of-contents {
  margin: 2rem 0;
}
