html {
  // Set default font size in a relative unit in order to respect user's font
  // size browser settings.
  //
  // Most browsers have default font size 16px.
  // To set this to 15px, we do 15px/16px = 0.9375.
  font-size: 93.75%;
}

// Expand height to fit screen.
// Must be applied to both html and body.
html, body {
  height: auto;
  min-height: 100%;
}

body {
  // Fix for links (<a>) overflowing out of body
  word-break: break-word;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  line-height: normal;

  color: $dark-gray;
  background-color: white;

  font-family: $font-family;
  font-size: 100%;
}

.site {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.site-wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

img {
  margin: 3rem auto 3rem auto;
  display: block;
}

em img {
  max-width: 100%;
  margin-left: 0;
}

pre,
code {
  background-color: $lighter-gray;
  border-radius: $border-radius;
}

hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $light-gray;
}

article {
  margin-top: 2em;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

abbr {
  border-bottom: 1px black dotted;
  cursor: help;
}

p {
  color: $dark-gray;
}

small,
.small {
  font-size: 0.707rem;
}

sup {
  position: relative;
  vertical-align: middle;
  top: -0.9ex;
}

details {
  margin-bottom: 1em;

  p {
      margin: 1em;
  }
}

summary:hover {
  cursor: pointer;
}

iframe {
  margin-bottom: 1em;
}

.page-title {
  margin: 1em 0 0 0;
}

.table-of-contents {
  margin: 2rem 0;
}

code {
  font-size: 14px;
}

blockquote {
  border-left: 5px solid $light-gray;
  font-style: italic;
  margin: 32px;
  padding: 0 8px;
}

a {
  color: #005cad;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
  border: 0;
  color: #00396b;
}

.button:hover,
.button:focus,
.button:active {
  color: white;
}

.anchorjs-link:hover,
.anchorjs-link:focus,
.anchorjs-link:active{
    border: 0;
    color: #00396b;
}

.measure {
  margin: 0 auto;
  max-width: 50rem;
}

// List markers (bullet points, numbers)
::marker {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-weight: bold;
  line-height: 1.5;
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
  border-bottom: 1px solid $dark-gray;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

h5 {
  font-size: $h5;
}

h6 {
  font-size: $h6;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

dl, ol, ul {
  margin: 2em 0 2em 0;
  padding-left: $space-3;
}

// No margin for lists inside lists
li ul, li ol {
  margin: 0;
}

li {
  margin: 0.5em 0;
}

pre,
code,
samp {
  font-family: $monospace-font-family;
  font-size: inherit;
}

pre {
  margin-top: 0;
  margin-bottom: $space-2;
  overflow-x: scroll;
}

hr {
  margin-top: $space-3;
  margin-bottom: $space-3;
}

nav {
  margin: 2rem 0;
  line-height: 2;

  a {
    color: $dark-gray;
  }

  a:hover,
  a:focus,
  a:active,
  a.nav-active:hover,
  a.nav-active:focus,
  a.nav-active:active {
    color: $mid-gray;
  }

  a.nav-active {
    text-decoration: underline;
  }

  a + a {
    margin-left: $space-2;
  }
}
