.site-header a {
  color: $dark-gray;
  font-size: $h4;
}

.site-header .site-title {
  font-size: $h3;
}

.site-header a:hover,
.posts .post a:hover .post-title {
  color: $mid-gray;
}

.site-header {
  text-align: center;
  margin: 3rem;
}

// Social icons

.social-icons {
  font-size: 1.25rem;
  padding: 0.5em 0 0 0;
  width: 100%;
}

.social-icons a.fa {
  cursor: pointer;
  padding: 0.2em;
  font-size: 1.5rem;
}

.social-icons a.fa:first-child {
  padding-left: 0;
}

.social-icons a.fa:hover {
  color: $mid-gray;
}
