.site-header {
  text-align: center;
  padding-top: $space-4;

  a {
    font-size: $h4;
    color: $color-text-primary;
  }

  .site-title {
    font-size: $h3;
  }
}

.site-header a:hover,
.posts .post a:hover .post-title {
  color: $color-text-secondary;
}

// Social icons

.social-icons {
  font-size: 1.25rem;
  width: 100%;
  margin: $space-2 0;
}

.social-icons a.fa {
  cursor: pointer;
  padding: 0.2em;
  font-size: 1.5rem;
}

.social-icons a.fa:first-child {
  padding-left: 0;
}

.social-icons a.fa:hover {
  color: $color-text-secondary;
}
