.post-container {
  margin: 3rem;
}

.posts {
  margin: 3rem 0;
}

.post {
  margin: 3rem 0;
}

.post-link {
  // Override anchor hover color.
  color: $dark-gray !important;

  h3 {
    margin: 0;
  }
}

.post-meta {
  font-family: $heading-font-family;
  font-weight: 700;
  font-size: 0.9rem;
  width: auto;
  margin: 0 0 1rem 0;
  color: $mid-gray;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
  align-items: center;

  font-size: $h2;
  margin: 6rem 0;

  .pagination-text {
    font-size: 1rem;
  }

  a {
    color: $dark-gray;

    &:hover, &:focus, &:active {
      color: $mid-gray;
    }
  }

  .disabled {
    color: $mid-gray;
    text-decoration: line-through;
  }
}

.button-disabled {
  opacity: 0.55;
  background-color: #999;
}

.button-disabled:hover,
.button-disabled:active,
.button-disabled:focus {
  cursor: not-allowed;
  background-color: #999;
}
