.post-container {
  margin-top: $space-3;
}

.posts {
  margin: 3rem 0;
}

.post {
  margin: $space-3 0;
  padding-left: $space-2;

  .post-link {
    color: $color-text-primary;

    &:hover,
    &:active {
      color: $color-text-secondary;
    }

    h3 {
      margin: 0;
    }
  }

  .post-summary {
    color: $color-text-primary;
  }

  .post-meta {
    font-family: $heading-font-family;
    font-weight: 700;
    font-size: $h6;
    width: auto;
    margin: 0 0 1rem 0;
    color: $color-text-secondary;
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: $space-3;
  align-items: center;
  flex-wrap: wrap;

  font-size: $h2;
  padding: $space-4 0;

  .pagination-text {
    font-size: 1rem;
  }

  a {
    color: $color-text-primary;

    &:hover,
    &:focus,
    &:active {
      color: $color-text-secondary;
    }
  }

  .disabled {
    color: $color-text-secondary;
    text-decoration: line-through;
  }

  > div {
    width: 120px;
  }
}

.button-disabled {
  opacity: 0.55;
  background-color: #999;
}

.button-disabled:hover,
.button-disabled:active,
.button-disabled:focus {
  cursor: not-allowed;
  background-color: #999;
}
