
.posts {
  margin: 0;
}

// .posts .post {
//   margin-bottom: 0.75em;
//   border-bottom: thin solid #f3f3f3;
// }

// .posts .post:last-child {
//   border-bottom: none;
//   margin-bottom: .375em;
//   padding-bottom: 0;
// }

.post-link .post-title {
  margin: 0;
  font-weight: bold;
  color: $dark-gray;
}

.meta,
.post-meta {
  font-family: $heading-font-family;
  font-weight: bold;
  width: auto;
  margin: 0.5rem 0 1rem 0;
  color: $mid-gray;
  // font-style: italic;
}

.related-post-title {
  border-bottom: thin solid $lighter-gray;
}
