// Typography
$font-family: "Merriweather", "PT Serif", Georgia, "Times New Roman", serif !default;
$heading-font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif !default;
$monospace-font-family: "Source Code Pro", Consolas, monospace !default;
$base-font-size: 15px !default;
$h1: 2.2rem !default;
$h2: 1.6rem !default;
$h3: 1.4rem !default;
$h4: 1.1rem !default;
$h5: 1rem !default;
$h6: 0.875rem !default;

// Color scheme
$color-background: #252525;
$color-primary: #521de4;
$color-secondary: hsl(273, 80%, 50%);
$color-tertiary: hsl(337, 90%, 60%);
$color-text-primary: #eee;
$color-text-secondary: #ccc;
$color-text-tertiary: #ff5596;
$color-text-inverse: #000;

// Whitespace
$space-1: 8px !default;
$space-2: 16px !default;
$space-3: 32px !default;
$space-4: 64px !default;

// Border radius
$border-radius: 3px !default;

// Code
$pre-border-radius: 0;
$hljs-comment: #efefef;
$hljs-keyword: #002e8a;
$hljs-name: #fff;
$hljs-number: #007404;
$hljs-string: #b43a18;
$hljs-title: #b43a18;
$hljs-type: #002e8a;
$hljs-tag: #002e8a;
$hljs-attribute: #007404;
$hljs-regexp: #007404;
$hljs-symbol: #af0e57;
$hljs-built-in: #002e8a;
$hljs-preprocessor: #efefef;
$hljs-deletion: #ffdddd;
$hljs-addition: #ddffdd;
$hljs-change: #002e8a;
$hljs-chunk: #777;
