<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{% include head.html %}

{% comment %}
Homepage is root url or any of the browse-by-tag pages.
{% endcomment %}
{% assign url_parts = page.url | split: '/' %}
{% if page.url == '/index.html' or url_parts[1] == 'tags' %}
{% assign is_homepage = true %}
{% else %}
{% assign is_homepage = false %}
{% endif %}

<body>
  <h1>
    <a href="{{ '/' | relative_url }}" class="title-link">{{ site.title }}</a>
  </h1>

  <div>
    <a class="fa title-link" href="https://x.com/{{ site.twitter_username }}" aria-label="X">
      <i class="fa-fw fa-brands fa-x-twitter"></i>
    </a>
    <a class="fa title-link" href="https://github.com/{{ site.github_username }}" aria-label="github">
      <i class="fa-fw fa-brands fa-github"></i>
    </a>
    <a class="fa title-link" href="{{ '/feed.xml' | relative_url }}" aria-label="RSS feed">
      <i class="fa-fw fa-solid fa-rss"></i>
    </a>
  </div>

  <h4>
    <a class="title-link" href="/">Posts</a>
    <span style="font-weight: normal">&nbsp;•&nbsp;</span>

    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

    {% for path in page_paths %}
    {% assign item = site.pages | where: "path", path | first %}
    <a class="title-link" href="{{ item.url | relative_url }}">{{ item.title }}</a>

    {% if forloop.last == false %}
    <span style="font-weight: normal">&nbsp;•&nbsp;</span>
    {% endif %}

    {% endfor %}
  </h4>

  {% if is_homepage == false %}
  <h1 style="text-transform: capitalize">
    {{ page.title }}
  </h1>
  {% endif %}

  {% if page.path contains '_posts' %}
  <span>{{ page.date | date: site.date_format }}</span>
  <br>
  {% if page.update_date %}
  <span>Updated: {{ page.update_date | date: site.date_format }}</span>
  <br>
  {% endif %}
  {% comment %}
  <span>
    {% assign minutes = content | strip_html | number_of_words | divided_by: 180 %}
    {% if minutes == 0 %} {% assign minutes = 1 %} {% endif %}
    {{ minutes }} minute read
  </span>
  {% endcomment %}
  {% endif %}

  {% comment %}
  Add table of contents to all posts, and to pages that specify it in front
  matter.
  {% endcomment %}
  {% if page.path contains '_posts' or page.table_of_contents == true %}
  <div class="table-of-contents">
    {{ content | table_of_contents | safe }}
  </div>
  {% endif %}

  <div>{{ content }}</div>

  <br>

  {% comment %}
  Display comments section on every post, and on pages that specify it in front
  matter.
  {% endcomment %}
  {% if page.path contains '_posts' or page.comments_section == true %}
  <script src="https://utteranc.es/client.js" repo="marcospgp/marcospgp.github.io" issue-term="pathname"
    label="utterances-comments-section" theme="github-dark" crossorigin="anonymous" async>
    </script>
  {% endif %}

  <h3>
    <a class="title-link" href="#">Back to top</a>
  </h3>

  <!-- AnchorJS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/5.0.0/anchor.min.js"></script>
  <script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
  </script>
</body>

</html>
