---
layout: default
---

{% assign minutes = content | strip_html | number_of_words | divided_by: 180 %}
{% if minutes == 0 %} {% assign minutes = 1 %} {% endif %}

<div class="post-header mb2">
  <h1 class="page-title" style="text-transform: capitalize">
    {{ page.title }}
  </h1>
  <span class="post-meta">{{ page.date | date: site.date_format }}</span><br />
  {% if page.update_date %}
  <span class="post-meta"
    >Updated: {{ page.update_date | date: site.date_format }}</span
  ><br />
  {% endif %}
  <span class="post-meta small">
    {% if page.minutes %} {{ page.minutes }} minute read {% else %} {{ minutes
    }} minute read {% endif %}
  </span>
</div>

<article class="table-of-contents">
  {% if page.table_of_contents != false %} {% include table_of_contents.html
  html=content %} {% endif %}
</article>

<article class="post-content">{{ content }}</article>
